body {
  margin: 30px auto;
  width: 85%;
  max-width: 50em;
  font-family: 'Space Mono', monospace, sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

/* -- Navigation Bar Menu --- */
#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: auto;
}

#navbar li { 
  float: left;
  font-size: 18px;
}

#navbar li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

#navbar li a:hover {
	background-color: #27B0BD;
}
/* -- End of Navigation Bar Menu --- */



h1 {
  padding: 20px 0px 10px 0px;
}

.container-portfolio {
  border: 20px solid aqua;
  margin-top: 60px;
  padding: 40px;
}
  
 .container-statement {
   text-align: justify;
 

}



/* Start of Interactive Art  */
/* * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

/* Clearfix (clear floats) */
/* .row::after {
  content: "";
  clear: both;
  display: table;
} */
/* End of Interactive Art  */